<ion-view view-title="直播">
  <div class="tabs-striped tabs-top tabs-color-positive">
    <div class="tabs">
      <a class="tab-item active">
        关注
      </a>
      <a class="tab-item">
        重要
      </a>
      <a class="tab-item">
        全部
      </a>
      <a class="tab-item">
        已结束
      </a>
    </div>
  </div>
  <ion-content class="has-tabs-top">
    <div class="list">
      <div class="item item-divider item-positive">
        02月19日 星期四
      </div>

      <a class="row item" href="#/live/4343122343">
        <div class="col-20">03:45</div>
        <div class="col-80">
          <p>
            欧冠1/8决赛首回合
          </p>
          <p style="color: #000000;">
            巴塞尔 - 波尔图
          </p>
          <p>
            CCTV5+    新浪直播    QQ直播
          </p>
        </div>
      </a>
      <a class="row item" href="#/live/4343122343">
        <div class="col-20">03:45</div>
        <div class="col-80">
          <p>
            欧冠1/8决赛首回合
            </p>
          <p style="color: #000000;">
            沙尔克 - 皇家马德里
          </p>
          <p>
             CCTV5直播    新浪[詹俊]    QQ
          </p>
        </div>
      </a>
  </div>
    <div class="list">
      <div class="item item-divider item-positive">
        02月20日 星期五
      </div>

      <a class="row item" href="#/live/4343122343">
        <div class="col-20">04:05</div>
        <div class="col-80">
          <p>
            欧联杯1/16决赛
          </p>
          <p style="color: #000000;">
             凯尔特人 - 国际米兰
          </p>
          <p>
            等待更新
          </p>
        </div>
      </a>
      <a class="row item" href="#/live/4343122343">
        <div class="col-20">04:05</div>
        <div class="col-80">
          <p>
            欧联杯1/16决赛
          </p>
          <p style="color: #000000;">
            利物浦 - 贝西克塔斯
          </p>
          <p>
            QQ直播
          </p>
        </div>
      </a>
    </div>
    <div class="list">
      <div class="item item-divider item-positive">
        02月21日 星期六
      </div>

      <a class="row item" href="#/live/4343122343">
        <div class="col-20">23:00</div>
        <div class="col-80">
          <p>
            英超第26轮
          </p>
          <p style="color: #000000;">
             切尔西 - 伯恩利
          </p>
          <p>
            等待更新
          </p>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
